Source: acfrontend
Section: python
Priority: standard
Maintainer: Asyncode <biuro@asyncode.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.3.5)

Package: acfrontend
Architecture: all
Description: Asyncode Frontend
 XSLs, CSSes i JSes.
